:root {
}

.btn_press {
    background-color: rgb(150, 253, 8);
    font-size: 64px;
    padding: 96px;
    -unity-font-style: bold;
    border-width : 8px;
    border-color: rgb(150, 253, 8);
}

.btn_press:hover {
    background-color: #75C804;
    border-color: #75C804;
}

.btn_press:active {
    border-width : 8px;
    border-color: #ffffff;
}

.btn_press:disabled {
    background-color: #D9D9D9;
}

.btn_press .unity-image {
    width: 64px;
    height: 64px;
    margin-left: 64px;
}