:root {
}

.main-container {
    background-color: rgb(28, 3, 14);
}

.h1 {
    color: white;
    font-size: 48px;
    -unity-text-align: middle-center;
}

.btn-colors {
    color: #ffffff;
    font-size: 32px;
    border-width: 2px;
    border-radius: 16px;
    border-color: #DA495D;
    margin: 2px 4px 2px 4px;
    padding: 40px;
    margin-bottom: 32px;
    background-color: rgba(0,0,0,0);
    -unity-font-style: bold;
}

.btn-colors:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.btn-colors:active {
    color: #000000;
    background-color: #b8b7b7;
    border-color: #ffffff;
}