:root {
}

.main-container {
    background-color: rgb(28, 3, 14);
}

.container-content {
    border-width: 2px;
    border-color: rgba(218, 73, 93, 0.5);
    border-radius: 32px;
    margin:32px;
}
