:root {
}

.main-container {
    background-color: rgb(28, 3, 14);
    padding: 64px;
}

.container-content {
    border-width: 2px;
    border-color: rgba(218, 73, 93, 0.502);
    border-radius: 32px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px;
}

.container-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-color: rgba(218, 73, 93, 0.5);
    border-radius: 64px;
    padding: 16px;
}

.logo {
    width: 100%;
    height: 250px;
    margin-bottom: 32px;
}

.title_1 {
    background-color: rgba(218, 73, 93, 0.5);
    padding: 10px 32px;
    border-radius: 64px;
    align-self: flex-start;
    font-size: 60px;
    -unity-font-style: bold;
}

.title_1-more_than_9 {
    padding: 9px 10px;
}

.title_intro {
    align-self: flex-start;
    padding: 6px;
    font-size: 60px;
    -unity-font-style: bold;
}

.desc {
    margin-top: 16px;
    font-size: 80px;
    -unity-font-style: bold;
    white-space: normal;
    -unity-text-align: lower-center;
}

.separation_line {
    width: 400px;
    height: 30.5px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.illustration {
    width: 836px;
    height: 470px;
    border-radius: 32px;
    border-width: 1px;
    border-color: rgb(218, 73, 93);
}

.container-instruction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0;
}

.container-mission {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0;
    border-radius: 32px;
    border-width: 1px;
    border-color: rgb(218, 73, 93);
    padding: 32px;
    margin-top: 32px;
}

.mission-title {
    font-size: 42px;
    -unity-font-style: bold;
    white-space: normal;
}

.mission-desc {
    white-space: normal;
    font-size: 32px;
    padding-bottom: 32px;
    border-width: 1px;
    border-bottom-color: rgba(218, 73, 93, 0.5);
    margin-bottom: 32px;
}

.task-desc {
    font-size: 40px;
    white-space: normal;
    -unity-font-style: normal;
}

.controller-desc {
    font-size: 32px;
    -unity-text-align: middle-center;
    white-space: normal;
}

.actions-title {
    margin-top: 100px;
}


.actions_list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    font-size: 60px;
}

.action_list-container-first_child {
    margin-top: 60px;
}

.controls_list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.control_img {
    width: 300px;
    height: 300px;
}

.button_start-game {
    width: 100%;
    background-color: rgb(150, 253, 8);
    color: rgb(0, 0, 0);
    font-size: 42px;
    -unity-font-style: bold;
    border-radius: 16px;
    margin-top: 64px;
    padding: 60px 42px;
}

.button_start-game:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

